{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4">Welcome back!</h3>
                  {% if messages %}
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <form method="post">
                    {% csrf_token %}
                    <div class="form-label-group">
                      <input
                        type="text"
                        id="inputEmail"
                        name="username"
                        class="form-control"
                        placeholder="Username"
                        required
                        autofocus
                      />
                      <label for="inputEmail">Username</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="text"
                        id="inputEmail"
                        name="email"
                        class="form-control"
                        placeholder="Email"
                        required
                      />
                      <label for="inputEmail">Email</label>
                    </div>

                    <div class="form-label-group">
                      <input
                        type="password"
                        id="inputPassword"
                        class="form-control"
                        name='password'
                        placeholder="Password"
                        required
                      />
                      <label for="inputPassword">Password</label>
                    </div>

                    <button
                      class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                      type="submit"
                    >
                        Sign Up
                    </button>
                    <div class="text-center">
                      <a class="small" href="{% url 'signin' %}">Already have an Account? Signin</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
